<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户画像平台登录</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.js"></script>
</head>
<body>
<div class="jumbotron" style="height: 300px">
    <div class="row" style="margin-top:100px">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h4 class="text-primary">用户画像平台登录</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                        <HR align=center color=#987cb9 SIZE=2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="input-group form-group form-group-sm" style="height: 40px">
                                <span class="input-group-addon" id="kK" >用户名</span> <input
                                    type="text" class="form-control" placeholder="username"
                                    ng-model="taskConfig.kK" aria-describedby="kK" style="height: 40px">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="input-group form-group form-group-sm" style="height: 40px">
                                <span class="input-group-addon" id="kMeasure" >&nbsp;密&nbsp;&nbsp;码&nbsp;</span> <input
                                    type="text" class="form-control" placeholder="password"
                                    ng-model="taskConfig.kMeasure" aria-describedby="kMeasure" style="height: 40px">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-offset-1  col-md-10" style="height: 35px;margin-top: 20px">
                            <button type="button" class="btn btn-sm btn-block btn-primary" style="height: 35px"
                        > 登录
                        </button>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>






</div>

</body>
</html>